.new_logo .logo-expanded {
    color: #fff;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    display: block;
    margin-left: 10px;
    background: #000;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 5px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.input-text {
    margin-bottom: 0 !important;
}

.top_menu {
    height: 50px;
    line-height: 50px;
    background: #fff;
    width: calc(100% - 200px);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 200px;
    border-bottom: 1px solid #eeeeee;
}

.top_menu a {
    display: block;
    float: right;
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    border-left: 1px solid #eeeeee;
}

.clear {
    clear: both;
}

.btn {
    margin-bottom: 0;
}

body {
    line-height: 1.6 !important;
    overflow-x: hidden;
}

.left_cur a i:before, .left_cur ul li .cur_s .title, .left_cur .cur_tit, li.left_cur > a:before {
    color: #444 !important;
}

.left_cur {
    background: rgba(55, 87, 109, 0.05);
}

.logo-env .new_logo {
    padding-left: 36px;
}

.logo-env .new_logo .wq_logo {
    margin-left: -36px;
    width: 28px;
    height: 28px;
    float: left;
    border-radius: 50%;
}

.logo-env .new_logo:after {
    clear: both;
}

.tool_box a span, .tool_box a:hover span {
    color: #666 !important;
}

.left_btn_box {
    padding: 3px 10px 0 10px;
    justify-content: center;
    display: flex;
}

.left_btn_box a {
    display: block;
    height: 28px;
    line-height: 26px;
    width: 80px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
}

.left_btn_box a.btn_li01 {
    background: rgb(25, 200, 91);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.left_btn_box a.btn_li02 {
    background: rgb(0, 193, 222);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.left_btn_box a.btn_li01:hover {
    background: rgb(21, 186, 93);
}

.left_btn_box a.btn_li02:hover {
    background: rgb(2, 182, 209);
}

.wq_bottom_btn {
    position: fixed;
    bottom: 0;
    left: 230px;
    width: 100%;
    background: #fff;
    justify-content: center;
    display: flex;
    height: 80px;
    line-height: 80px;
}

.sidebar-menu {
    min-width: 220px !important;
    width: 220px !important;
    overflow: hidden;
    background: #fff !important;
}

.main-menu-scroll {
    height: calc(100% - 130px);
    overflow-x: hidden;
    width: 200px;
    overflow-y: scroll;
}

.main-menu-scroll::-webkit-scrollbar {
    display: none;
}

.new_left_menu {
    width: 220px;
    height: 100%;
    display: table-cell;
    position: relative;
    z-index: 1;
    background: #f8f9fb;
}

.sidebar-menu.fixed .sidebar-menu-inner {
    left: 86px !important;
    border-right: 1px solid #eeeeee;
}

.f_name_box {
    display: block;
    height: 50px;
    line-height: 50px;
}

.f_name_box.cur_name {
    background: rgba(255, 255, 255, 1) !important
}

.new_left_menu a {
    text-decoration: none;
}

.new_left_menu a span {
    color: #b3b3b3;
    font-size: 13px;
}

.new_left_menu a i {
    margin-left: 17px;
    display: inline-block;
    color: #b3b3b3;
    margin-right: 5px;
}

.new_left_menu a.cur_name i, .new_left_menu a.cur_name .big_class_name {
    color: #1aad19;
}

.big_class_name {
    display: inline-block;
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    margin-left: 5px;
}

.main-menu-scroll {
    width: 220px !important;
} /*		.sidebar-menu .main-menu a {color: #444 !important;background: rgba(55, 87, 109, 0.05);}*/.sidebar-menu .main-menu a {
                                                                                                          color: #444 !important;
                                                                                                          padding-left: 20px !important;
                                                                                                      }

.sidebar-menu .main-menu .cur_s a, .sidebar-menu .main-menu .cur_s a:visited, .sidebar-menu .main-menu .left_cur ul li.cur_s a > span {
    background: rgba(255, 255, 255, 1) !important;
    color: #1aad19 !important;
    border-right: 1px solid #eeeeee;
}

.title.cur_tit {
    color: #444 !important;
    font-weight: bold;
} /*		.left_cur {background:#fff !important;}*/.cur_s .sidebar-menu .main-menu a {
                                                         background: #fff !important;
                                                     }

.sidebar-menu .main-menu ul li a {
    padding-left: 20px !important;
} /*		.left_cur ul li a {background:#fff !important;}*/.left_cur ul li {
                                                                 background: #fff !important;
                                                             }

.sidebar-menu .main-menu {
    margin-top: 0 !important;
}

.top_big_class_name {
    height: 50px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #eeeeee;
    font-size: 13px;
}

.new_logo {
    display: block !important;
}

.sidebar-menu .main-menu .left_cur ul li a > span {
    color: #777777 !important;
}

.sidebar-menu .main-menu li.has-sub > a:before {
    content: '\f0d7' !important;
}

.main-menu-scroll {
    height: 100% !important;
}

.page-container {
    position: absolute;
    padding-top: 68px;
    box-sizing: border-box;
}

.new_page_top {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 68px;
    font-size: 26px;
    line-height: 70px;
    padding-left: 15px;
    color: #fff;
    background-color: #db487f;
    box-shadow: 2px 2px 2px hsla(0, 0%, 90%, .5);
    z-index: 999;
}

.sidebar-menu.fixed .sidebar-menu-inner {
    top: 44px !important;
}

.new_logo {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 15px;
    margin-left: 18px;
    border-radius: 5px;
    overflow: hidden;
    line-height: 40px;
}

.new_logo img {
    width: 40px;
    height: 40px;
    vertical-align: inherit;
}

.app_name {
    color: #333;
    font-size: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    height: 68px;
    line-height: 68px;
    margin-left: 8px;
    float: left;
}

.new_page_top a, .new_page_top a:visited {
    color: #333;
    text-decoration: none;
}

.new_page_top a:hover {
    color: #b3b3b3;
    text-decoration: none;
}

.sidebar-menu.fixed .sidebar-menu-inner {
    position: fixed !important;
}

.new_top_right {
    float: right;
    width: 200px;
    height: 68px;
    line-height: 68px;
}

.logout_box {
    width: 200px;
    height: 68px;
    float: left;
    font-size: 13px;
    margin-left: 0px;
}

.left_menu_box {
    position: relative;
    width: 220px;
    top: 0px;
    left: 0;
    padding-left: 20px;
    overflow-y: scroll;
    z-index: 10000;
    padding-top: 0px;
    overflow-x: hidden;
    /*新增*/
    height: 100%;
}

.left_menu_box::-webkit-scrollbar {
    width: 0px;
}

.back_sys {
    width: 100px;
    text-align: center;
    color: #fff;
    margin: 0 10px;
}

.select_second {
    color: #1aad19;
}

.second_menu li {
    font-size: 14px;
    max-width: 183px;
    min-width: 180px;
    height: 50px;
    line-height: 50px;
    padding: 0 45px;
    text-align: left;
    cursor: pointer;
}

.second_menu li:hover {
    background: #eaeaea;
    color: #f00;
}

ul.first_menu > :first-child {
    padding: 0 20px;
    transition: border-color .3s, background-color .3s, color .3s;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    list-style: none;
}

ul.first_menu li i {
    color: #c1c1c1;
    font-size: 2.2rem;
}

ul.first_menu {
    position: relative;
    width: 160px;
    overflow: hidden;
}

ul.first_menu:after {
    content: "";
    position: absolute;
    left: 60px;
    bottom: 0;
    width: 100%;
    height: 0;
    right: 50px;
    border-bottom: 1px solid #e6e6e6;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.table-bg {
    background: #ffffff;
    box-shadow: 0 1px 2px hsla(0, 0%, 59%, .3);
} /*.second_menu:last-child li {border-bottom:1px solid #eaeaea;}*/.Hui-article article h3 {
                                                                       text-align: left;
                                                                       font-size: 22px;
                                                                       line-height: 55px;
                                                                       font-weight: 500;
                                                                       padding-top: 0 !important;
                                                                   }

#think_page_trace_open {
    top: 150px !important;
    z-index: 9999999999 !important;
}

.page-container .main-content {
    height: calc(100% - 51px) !important;
    background: #f8f9fb !important;
}

.new_index_tit {
    height: 37px;
    line-height: 37px;
}

.new_tit_box {
    border-left: 5px solid #3bd98c;
    height: 19px;
    font-size: 16px;
    font-weight: bold;
    color: #4fa2ff;
    margin-top: 18px;
    padding-left: 10px;
    line-height: 19px;
}

.index_icon_box {
    height: 67px;
    line-height: 67px;
}

.goods-state ul li {
    justify-content: center;
    display: flex;
}

.index_info_box {
    width: 60px;
}

.card_group {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    position: relative;
}

.card_box:first-child {
    width: 55%;
    margin-right: 15px !important;
}

.card_box, .card_box02 {
    position: relative;
    margin-bottom: 30px;
    margin-right: 63px;
    margin-left: 20px;
    border: 1px solid #f0f0f0;
    -webkit-box-shadow: 0 2px 8px 0 hsla(0, 0%, 89%, .5);
    box-shadow: 0 2px 8px 0 hsla(0, 0%, 89%, .5);
    background-color: #fff;
    color: #303133;
    border-radius: 4px;
    overflow: hidden;
}

.card_box02 {
    width: 100%;
}

.card_body {
    padding: 0 20px 20px 20px;
}

.state_body {
    padding: 0 20px 20px 40px;
}

.card_header {
    padding: 18px 20px;
    box-sizing: border-box;
}

.card_title {
    margin-left: 20px;
    font-size: 20px;
    display: block;
    margin-top: 20px;
}

.count_no_box {
    text-align: center;
    height: 70px;
    line-height: 70px;
}

.count_no {
    font-family: PingFangSC-Medium;
    font-size: 30px;
    color: #4877c1;
    letter-spacing: 0;
}

.card_li {
    justify-content: center;
    display: flex;
}

.card_li p {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #484848 !important;
    padding-left: 10px;
}

.card_li img {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.card_body {
    justify-content: center;
    display: flex;
}

.card_li_h {
    width: 50%;
}

.state_li {
    justify-content: flex-start;
    display: flex;
}

.state_li p {
    white-space: nowrap;
    line-height: 21px;
    font-size: 16px;
}

.state_li p:first-child {
    width: 40%;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #484848;
    letter-spacing: 0;
}

.state_li p:nth-child(2) {
    width: 30%;
    font-family: PingFangSC-Medium;
    letter-spacing: 0;
}

.state_li p:nth-child(3) {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #7d7d7d;
    letter-spacing: 0
}

.radio_group {
    justify-content: flex-start;
    display: flex;
    padding: 0 40px;
}

.radio_group a {
    display: block;
    width: 70px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #dcdfe6;
    font-weight: 500;
    border-left: 0;
    color: #606266;
    box-sizing: border-box;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.radio_group a:hover {
    color: #1aad19;
    text-decoration: none;
}

.radio_group a.selected {
    color: #fff;
    background-color: #db487f;
    border-color: #db487f;
    box-shadow: -1px 0 0 0 #db487f;
}

.radio_group a:first-child {
    border-left: 1px solid #dcdfe6;
    border-radius: 4px 0 0 4px;
    box-shadow: none !important;
}

.radio_group a:last-child {
    border-radius: 0 4px 4px 0;
}

.group_box {
    justify-content: flex-start;
    display: flex;
    padding: 40px;
}

.group_li {
    margin-right: 3%;
    border: 2px solid #91adda;
    min-height: 105px;
    width: 22%;
    padding: 15px 0;
}

.group_li p:first-child {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #484848;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
}

.group_li p:nth-child(2) {
    font-family: PingFangSC-Semibold;
    font-size: 30px;
    color: #4e4e4e;
    line-height: 50px;
    text-align: center;
}

.fun_body {
    justify-content: flex-start;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 5px;
    padding: 0 30px 30px 30px;
}

.fun_body a {
    display: block;
    width: 47%;
    height: 120px;
    border: 1px solid #e1e1e1;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 32px;
}

.fun_body a:hover {
    text-decoration: none;
}

.fun_li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    cursor: pointer;
    height: 120px;
}

.fun_li:hover {
    background-color: hsla(220, 3%, 78%, .3);
}

.fun_li img {
    margin-left: 50px;
    width: 60px;
    height: 60px;
    -ms-flex-item-align: center;
    align-self: center;
}

.fun_li_content {
    margin-left: 20px;
    -ms-flex-item-align: center;
    align-self: center;
}

.fun_li_content p:first-child {
    color: #6487bd;
    font-size: 18px;
}

.fun_li_content p:nth-child(2) {
    color: #646464;
    font-size: 14px;
    margin-top: 10px !important;
}