
*{
    box-sizing: border-box;
}

body,html{width:100%;height:100%;overflow:auto}

body{
    background: #f2f2f2;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    webkit-user-select: none;
    -webkit-text-size-adjust: 100%;
}
.choosetype_wrap[data-v-1d007989] {position:relative !important;}
.lookcard_wapper[data-v-2d63851b]{position:relative !important;}

#app{font-family:PingFangSC-Regular,Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#2c3e50}

.app{
    width: 100%;
    height: 80%;
    background: #fff;
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    font-family: PingFangSC-Regular,Avenir,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button{
    width: 40%;
    height: 40px;
}
.left{
    border-radius: 20px;
    border: solid 1px #4e81f7;
    color: #4e81f7;
    background: #f2f2f2;
}

.right{
    border-radius: 20px;
    border: none;
    color: #fff;
    background: #4e81f7;
}
.right002{
    border-radius: 20px;
    border: none;
    color: #fff;
    background: #cccccc;
}
.main_img{
    /*height: 75%;*/
    /*height: 8.5rem;*/
    max-height:8rem ;
    min-height:4rem ;
    width: 100%;
    overflow: hidden;
}
.main_img img{
    border: none;
    width: 100%;
    height: auto;
}

img{
    vertical-align: top;
}
.poster_top_tab {position: fixed;top:0;left:0;width:100%;background: #fff;justify-content:center;display: flex;height:50px;line-height: 50px;}
.poster_top_tab div {width:80px;height:40px;line-height: 40px; text-align: center;margin-top:0px;margin-left:20px;margin-right:20px;}
.poster_top_tab div.cur {color:#3c7eef;border-bottom:2px solid #3c7eef;}
button {outline:none;}
.first_loading_mask{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#fff;z-index:999}.first_loading_box{position:fixed;top:50%;left:50%;width:3rem;height:1.5rem;margin-top:-.75rem;margin-left:-1.5rem;text-align:center}.first_loading_box img{height:.7rem;width:.7rem}.first_loading_box #in_loading{-webkit-animation:rotate 2s infinite;animation:rotate 2s infinite}.first_loading_box p{margin-top:.4rem;height:.4rem;line-height:.4rem;font-size:.28rem;color:#4d5257}
