﻿{extend name="base"/}
{block name="main"}
<div class="Hui-article">
    <article class="cl pd-20">
        <h3 id="dont_touch_this"></h3>
        <div id="tab_demo" class="HuiTab" style="margin-top: 0px; position: relative;">
            <div class="tabBar clearfix">
                <span class="current">内嵌网页</span>
                <span onclick="load_page('__CONF_SITE__admin/Sappl/index')">小程序跳转</span>
                <div class="l n_tab_add"><a href="javascript:;" onclick="layer_open('添加内嵌网页','__CONF_SITE__admin/sappl/applink_add','600','300')"><i class="Hui-iconfont">&#xe600;</i>添加内嵌网页</a></div>
            </div>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <div class="text-c"> 网页名称：
                <input type="text" class="input-text" value="{$name}" style="width:250px" placeholder="网页名称" name="name" id="dddd">
                <button onclick="send_submit()" class="btn btn-search radius" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索
                </button>
            </div>
        </div>
        <table class="table table-border table-bordered table-bg">
            <thead>
            <tr class="text-c">
                <th width="150">网页名称</th>
                <th width="150">网页地址</th>
                <th width="150">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr class="text-c">
                <td>{$vo['name']}</td>
                <td>{$vo['url']}</td>
                <td>
                    <a title="编辑" href="javascript:;" onclick="layer_open('编辑','__CONF_SITE__admin/Sappl/applink_edit&id={$vo.id}','600','300')" class="ml-5 show_layer" style="text-decoration:none;">编辑</a>
                    <a title="删除" href="javascript:;" onclick="attr_mod_del(this,'{$vo.id}')" class="ml-5 caozuo" style="text-decoration:none;margin-left:15px;"></a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </article>
    <div class="n_page_no">
        {$page}
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    function send_submit() {
        load_page("__CONF_SITE__admin/Sappl/applink", '', {name: $("#dddd").val()});
    }
    function attr_mod_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: "post",
                url: "{:url('Sappl/applink_del')}",
                data: {
                    "id": id,
                },
                success: function (data) {
                    if (data['code'] > 0) {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', {icon: 1, time: 500});
                    } else {
                        layer.msg(data['message'], {icon: 2, time: 1000});
                    }
                }
            })
        });
    }
</script>
{/block}