{extend name="base"/}
{block name="main"}
<style>
    .table>tbody>tr>td{
        text-align: center;
    }
</style>
<div class="Hui-article">
    <article class="cl pd-20">
        <h3 id="dont_touch_this"></h3>
        <div class="tabBar clearfix">
            <span onclick="load_page('__CONF_SITE__admin/Group/collage')">拼团列表</span>
            <span class="current" onclick="load_page('__CONF_SITE__admin/Group/group_list')">商品列表</span>
            <span onclick="load_page('__CONF_SITE__admin/Group/group_carousel')">轮播图</span>
            <span onclick="load_page('__CONF_SITE__admin/Group/group_order')" >订单管理</span>
            <span onclick="load_page('__CONF_SITE__admin/Group/type')" >分类管理</span>
            <div onclick="layer_open('添加商品','__CONF_SITE__admin/Group/group_add',1000,700)"  class="n_tab_add"><i class="Hui-iconfont">&#xe600;</i>添加商品</div>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
                <div class="text-c"> 商品名称：
                    <input type="text" class="input-text" value="{$group_name}" style="width:250px" placeholder="输入商品名称"  name="group_name">
                    <button onclick="send_submit()" class="btn btn-search radius"  name=""><i class="Hui-iconfont">&#xe665;</i> 搜商品</button>
                </div>
        </div>
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
            <tr class="text-c">
                <th>商品名称</th>
                <th>商品主图</th>
                <th>商品分类</th>
                <th>单买价</th>
                <th>拼团价</th>
                <th>起团人数</th>
                <th>组团显示</th>
                <th>库存</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr>
                <td>{$vo['name']}</td>
                <td><img src="{:get_img_src($vo['img'])}" width="50"></td>
                <td>{:get_pt_cname($vo['cid'])}</td>
                <td>￥{$vo['price']}</td>
                <td>￥{$vo['gprice']}</td>
                <td>{$vo['groupNum']}</td>
                <td>{$vo['limitTime']}小时</td>
                <td>{$vo['stock']}</td>
                <td>
                    {if $vo['isShow']==1}
                    <a href="javascript:;" onclick="bargain_status('{$vo.id}','off')"><span class="label label-success radius">正常</span></a>
                    {else}
                    <a href="javascript:;" onclick="bargain_status('{$vo.id}','on')"><span class="label label-danger radius">下架</span></a>
                    {/if}
                </td>
                <td>
                    <a href="javascript:;" onclick="layer_open('修改','__CONF_SITE__admin/group/group_edit&id={$vo.id}',1000,700)"><input class="btn btn-primary size-S radius show_layer" type="button" value="修改"></a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </article>
    <div class="n_page_no">
        {$list->render()}
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    function send_submit() {
        load_page("{:url('Group/group_list')}",'',{group_name:$("input[name=group_name]").val()});
    }
    function bargain_status(id,key){
        var msg='';
        if(key=='off'){
            msg='确定要下架吗？';
        }else {
            msg='确定要上架吗？';
        }
        layer.confirm(msg,function(){
            $.ajax({
                type : "post",
                url : "{:url('group/group_status')}",
                data : {
                    "id" : id,
                    "key":key
                },
                success : function(data) {
                    if (data['code'] > 0) {
                        layer.msg('操作成功',{icon:1,time:1000},function () {
                            parent_flash('__CONF_SITE__admin/Group/group_list')
                        });
                    }else{
                        layer.msg(data['message'], {icon: 2, time: 1000});
                    }
                }
            })
        });
    }
    /*活动-编辑*/
    function bargain_edit(title,url,w,h){
        layer_show(title,url,w,h);
    }
</script>
{/block}