{extend name="base"/}
{block name="main"}
<style>
  a.n_tab_add:hover {color:#fff !important;text-decoration: none !important;}
</style>
<div class="Hui-article">
    <article class="cl pd-20">
        <!--<h3 id="dont_touch_this"></h3>-->
        <div id="tab_demo" class="HuiTab" style="margin-bottom: 15px; position:relative;">
            <div class="tabBar clearfix">
                <span class="current">官网列表</span>
                <a onclick="layer_open('新增官网','__CONF_SITE__admin/menu/add_page&up=2',600,400)" class="n_tab_add"><i class="Hui-iconfont">&#xe600;</i>添加官网</a>
            </div>
        </div>
        <div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                    <tr class="text-c">
                        <th>标题</th>
                        <th>类型</th>
                        <th>添加时间</th>
                        <th>使用状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {volist name="list" id="r"}
                    <tr class="text-c va-m">
                        <td>{$r['name']|subtext=20}</td>
                        <td> {if $r.page_type=="2"}H5页面{elseif $r.page_type=="1"}小程序{elseif $r.page_type=="3"}默认{/if} </td>
                        <td>{$r['create_time']|date="Y-m-d H:i:s",###}</td>
                        <td>
                            {if $r.default==1}
                            <a style="text-decoration:none;color:#000;display: block;" title="取消默认" href="javascript:;"class="caozuo" onclick="change_default('{$r.id}','1')">取消默认</a>
                            {else}
                           <a style="text-decoration:none;" title="默认" onclick="change_default('{$r.id}','0')" class="caozuo">设置默认</a>
                            {/if}
                        </td>
                        <td>
                            {if $r.page_type==3}
                            <a style=" text-align: center; text-decoration:none;margin-right: 15px"  title="装修页面" href="javascript:;" onclick="load_page('__CONF_SITE__admin/custom/power&type={$r.type}&wn=2&id={$r.id}','','',2)" class="show_layer">装修官网</a>

                            {/if}
                           <a style="text-decoration:none;margin-right: 15px;"  title="编辑" onclick="layer_open('新增页面','__CONF_SITE__admin/menu/add_page&up=2&id={$r.id}',600,400)" class="show_layer">编辑</a>
                            {if $r.default==1}
                            {else}
                            <a style="text-decoration:none;margin-right: 15px;" class="caozuo" title="删除" href="javascript:void(0);" onclick="universal_del(this,'{$r.id}')">删除</a>
                            {/if}
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div class="n_page_no">
                    {$list->render()}
                </div>
            </div>
        </div>
        {/block}
        {block name="script"}
        <script type="text/javascript">
            var id1=0,type1=0;
            function universal_del(obj,id){
                layer.confirm('确认要删除吗？如果小程序正在使用可能会影响体验！',function(index){
                    //后台处理
                    $.ajax({
                        type : "post",
                        url : "__CONF_SITE__admin/menu/del_universal",
                        data : {
                            "id" : id.toString(),
                            "md":1
                        },
                        success : function(data) {
                            if (data['code'] >0) {
                                $(obj).parents("tr").remove();
                                layer.msg('删除成功!',{icon:1,time:1000});
                            }
                            else
                            {
                                layer.msg('删除失败', {icon: 2, time: 1000});
                            }
                        }
                    })
                });
            }
            function pickrsve(id,vals,type,page_type,appid,index_values) {
                $.ajax({
                    type: "post",
                    url: "{:url('admin/menu/add_page')}",
                    data: {
                        id: id,
                        vals: vals,
                        type: type,
                        page_type: page_type,
                        appid: appid,
                        index_values: index_values,
                    },
                    success: function (data) {
                        if (data['code'] > 0) {
                            layer.msg('操作成功', {icon: 1, time: 500});
                            parent_flash();
                        } else {
                            layer.msg('操作失败', {icon: 2, time: 1000});
                        }
                    }
                });
            }
            function change_default(id,type) {
                var msg='';
                if (type==0){
                    msg='确定要设置默认吗？';
                }else {
                    msg='确定要取消默认吗？';
                }
                layer.confirm(msg,function(index){
                    id1=id;type1=type;
                    check_users(esc);
                })
            }
            var esc=function () {
                $.ajax({
                    type : "post",
                    url : "__CONF_SITE__admin/menu/change_default",
                    data : {'id':id1,'default':type1,type:1},
                    success : function(data) {
                        if(data['code']>0 ){
                            layer.msg('成功',{icon:1,time:1000},function () {
                                parent_flash();
                            });
                        }else{
                            layer.msg(data["message"],{icon:5,time:1000});
                        }
                    }
                });
            }
        </script>
        {/block}